extends layout

block content
 div
  h1 Beans Bar bestellingen
  form(method='get', action='/logout')
   input(type='submit', value='logout') 
 
 div(class = 'tabs')
  ul(class = 'tab-links')
   li(class = 'active')
    a(href = '#orders') Nieuw
   li
    a(href = '#alles') Alles 


 div(class = 'tab-content')
  div(id ='orders', class = 'tab') 
  div(id ='alles', class = 'tab')
   if(bestellingen.length)
    each order in bestellingen
     div(class = orderitem)
      p=order.tafelnummer
      p=order.datum
      p=order.tijd
      div
       if order.bestelling
         for item in order.bestelling
           ul
            li=item.aantal
            li=item.product
            li=item.prijs
   else
       p Er zijn geen bestellingen.

 script(src = '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
 script(src = '../javascripts/script.js')
 script(src = 'http://localhost:3000/faye/client.js')