extends layout

block content
 div
  h1 Welkom bij Beans Bar

 div
  h2 MENU
 div
  ul.drinken.accordion
   if(Drinken.length)
    each cat in Drinken
     li(class='drinkcat', id=cat._id)
      a=cat.cat
      ul.miniaccordion
       case cat._id
        when "drink_1"
         each koffie in Koffie
          li(class='koffiecat', id=koffie._id)
           a=koffie.naam
           ul.mini-sub
            case koffie._id
             when "koffie_1"
              each zwart in Zwart
               li
                div= zwart.naam
                div= zwart.prijs
                div
                 input(type='text', placeholder='#')
             when "koffie_2"
              each metmelk in metMelk
               li 
                div= metmelk.naam
                div= metmelk.prijs
                div
                 input(type='text', placeholder='#') 
             when "koffie_3"
              each special in Specials
               li
                div= special.naam
                div= special.prijs
                div
                 input(type='text', placeholder='#')   
        when "drink_2"
         each thee in Thee
          li
           div= thee.naam
           div= thee.prijs
           div
            input(type='text', placeholder='#')
        when "drink_3"
         each melk in Melk
          li
           div= melk.naam
           div= melk.prijs
           div
            input(type='text', placeholder='#') 
        when "drink_4"
         each sap in Sappen
          li
           div= sap.naam
           div= sap.prijs
           div
            input(type='text', placeholder='#')
        when "drink_5"
         each fris in Frisdrank
          li
           div= fris.naam
           div= fris.prijs
           div
            input(type='text', placeholder='#')
        when "drink_6"
         each alcohol in Alcohol
          li
           div= alcohol.naam
           div= alcohol.prijs
           div
            input(type='text', placeholder='#')
        when "drink_7"
         each ijs in Ijskoffie
          li
           div= ijs.naam
           div= ijs.prijs
           div
            input(type='text', placeholder='#')
   else
    p Er is geen Drinken.  

 div
  ul.eten.accordion
   if(Eten.length)
    each cat in Eten
     li(class='etencat', id=cat._id)
      a=cat.cat
      ul.miniaccordion
       case cat._id
        when "eten_1"
         each ontbijt in Ontbijt
          li
           div= ontbijt.naam
           div= ontbijt.prijs
           div
            input(type='text', placeholder='#')
        when "eten_2"
         each bagel in Bagels
          li
           div= bagel.naam
           div= bagel.prijs
           div
            input(type='text', placeholder='#')
        when "eten_3"
         each wrap in Wraps
          li
           div= wrap.naam 
           div= wrap.prijs
           div
            input(type='text', placeholder='#')
        when "eten_4"
         each soep in Soep
          li
           div= soep.naam
           div= soep.prijs
           div
            input(type='text', placeholder='#')
        when "eten_5"
         each yoghurt in Yoghurt
          li
           div= yoghurt.naam
           div= yoghurt.prijs
           div
            input(type='text', placeholder='#')
   else
    p Er is geen Eten.  