extends layout

block content
 div
  h1 Welkom bij Beans Bar

 div#bestelnav
  div
   h2 MENU
  div
   input(type='button', id = 'bestel' value='bestel')

 div#error
  p

 ul.large-accordion
   li
    a#drink Drinken
    ul.drinken.accordion
      if(Drinken.length)
       each cat in Drinken
        li(class='drinkcat', id=cat._id)
         a=cat.cat
         ul.miniaccordion
          case cat._id
           when "drink_1"
            each koffie in Koffie
             li(class='koffiecat', id=koffie._id)
              a=koffie.naam
              ul.mini-sub
               case koffie._id
                when "koffie_1"
                 each zwart in Zwart
                  li
                   div.item= zwart.naam
                   div= zwart.prijs
                   div
                    input(type='text', placeholder='#')
                when "koffie_2"
                 each metmelk in metMelk
                  li 
                   div.item= metmelk.naam
                   div= metmelk.prijs
                   div
                    input(type='text', placeholder='#') 
                when "koffie_3"
                 each special in Specials
                  li
                   div.item= special.naam
                   div= special.prijs
                   div
                    input(type='text', placeholder='#')   
           when "drink_2"
            each thee in Thee
             li
              div.item= thee.naam
              div= thee.prijs
              div
               input(type='text', placeholder='#')
           when "drink_3"
            each melk in Melk
             li
              div.item= melk.naam
              div= melk.prijs
              div
               input(type='text', placeholder='#') 
           when "drink_4"
            each sap in Sappen
             li
              div.item= sap.naam
              div= sap.prijs
              div
               input(type='text', placeholder='#')
           when "drink_5"
            each fris in Frisdrank
             li
              div.item= fris.naam
              div= fris.prijs
              div
               input(type='text', placeholder='#')
           when "drink_6"
            each alcohol in Alcohol
             li
              div.item= alcohol.naam
              div= alcohol.prijs
              div
               input(type='text', placeholder='#')
           when "drink_7"
            each ijs in Ijskoffie
             li
              div.item= ijs.naam
              div= ijs.prijs
              div
               input(type='text', placeholder='#')
      else
       p Er is geen Drinken.  

   li
    a Eten
    ul.eten.accordion
      if(Eten.length)
       each cat in Eten
        li(class='etencat', id=cat._id)
         a=cat.cat
         ul.miniaccordion
          case cat._id
           when "eten_1"
            each ontbijt in Ontbijt
             li
              div.item= ontbijt.naam
              div= ontbijt.prijs
              div
               input(type='text', placeholder='#')
           when "eten_2"
            each bagel in Bagels
             li
              div.item= bagel.naam
              div= bagel.prijs
              div
               input(type='text', placeholder='#')
           when "eten_3"
            each wrap in Wraps
             li
              div.item= wrap.naam 
              div= wrap.prijs
              div
               input(type='text', placeholder='#')
           when "eten_4"
            each soep in Soep
             li
              div.item= soep.naam
              div= soep.prijs
              div
               input(type='text', placeholder='#')
           when "eten_5"
            each yoghurt in Yoghurt
             li
              div.item= yoghurt.naam
              div= yoghurt.prijs
              div
               input(type='text', placeholder='#')
      else
       p Er is geen Eten.  